body {
  background: url(https://subtlepatterns.com/patterns/noise_lines.png);
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  color: #fff;
  /* overflow-y: hidden; permite rolagem vertical */
  /* overflow-x: hidden; */
}

.bgoverlay {
  background: rgba(103,58,183,0.7);
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed; /* muda de absolute para fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; 
}

.final-img {
  display: block;
  max-width: 100%;
  width: 100%;
  max-height: 300px;

  margin: 20px auto;
  border-radius: 20px;

  object-fit: cover;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.final-img:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.container {
  position: relative;
  margin: 60px auto;
  width: 320px;
  min-height: 100vh; 
  
}

.ico {
  display: block;
  width: 320px;
  height: 220px;
}

.open .ico {
  animation: open 4s;
  transform: scale(10);
}

.ico .title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -95px;
  margin-top: -73px;
  z-index: 4;
  font-size: 50px;
  cursor: pointer;
}

.open .ico .title {
  opacity: 0;
  top: -100px;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
  position: absolute;
  top:0;
  left:0;
  font-size: 20em;
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ff4081;
}

.ico2:before,
.ico2:after {
  color: #e91e63;
}

.ico:after {
  animation: explode 4s infinite;
}

.ico2:before {
  animation: explodeSmall 3s infinite;
}

.ico2:after {
  animation: explodeSmall 2s infinite;
}

.endtext {
  opacity:0;
  position: absolute;
  top:-100px;
  width:100%;
  text-align: center;
}

.open .endtext {
  top:0;
  opacity: 1;
  animation: show 5s;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* Animações */
@keyframes explode {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(1.6); opacity: 0; }
}

@keyframes explodeSmall {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(1.2); opacity: 0; }
}

@keyframes open {
  from { transform: scale(1); }
  to { transform: scale(10); }
}

@keyframes show {
  from { opacity: 0; top: -100px; }
  to { opacity: 1; top: 0; }
}